body {
    background-color: gray;
    color: white;
}

#start-page h1 {
    font-family: courier;
    font-size: 50px;
}

#start-button {
    font-family: courier;
    font-size: 15px;
    padding: 5px 7px;
}

#bet-prompt {
    font-family: courier;
    font-size: 15px;
}

#game-page {
    display: flex;
    flex-wrap: wrap;
}

.bet-coin {
    font-family: courier;
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    border: 1px white;
}

#bet-total {
    font-family: courier;
    font-size: 15px;
}

.bank-coin {
    font-family: courier;
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    border: 1px white;
}

#bank-total {
    font-family: courier;
    font-size: 15px;
}

#card-display {
    display: flex;
    position: static;
    justify-content: center;
    align-items: center;
}

.card {
    font-family: courier;
    width: 60px;
    height: 80px;
    display: inline-block;
    background-color: burlywood;
    border: 1px solid white;
    border-radius: 5px;
    line-height: 80px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    color: white;
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
}

.card.face-down {
    background-color: burlywood;
    color: transparent;
}

#dealer-score, #player-score {
    font-family: courier;
    font-size: 15px;
    text-align: center;
}

#dealer-hand, #player-hand {
    display: flex;
    justify-content: center;
    align-items: center;
}

#deal-button {
    align-items: center;
    justify-content: center;
}

#deal-button {
    padding: 5px 10px;
    font-size: 15px;
    font-family: courier;
}

#hit-button, #stand-button, #new-game-button, #next-round-button {
    font-family: courier;
    font-size: 15px;
    padding: 5px 7px;
}

button:hover {
    background-color: lightblue;
}